@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	padding: 20px;
	margin: 0;
}

body {
	font-family: 'Raleway', "Century Gothic", sans-serif;
	font-size: 18px;
	color: #222222;
	line-height: 1.3;
}

header {
	background-color: #137DFF;
	padding: 20px;
}

h1 {font-family: 'Josefin Sans', "Century Gothic", sans-serif;
	color: #ffffff;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

ul {
	padding-left: 20px;
}

footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
}

h2, h3 {
	margin: 20px 0;
}